/****** Object:  Database [QLKS]    Script Date: 11/14/2022 8:05:48 PM ******/
USE [master]
GO

DECLARE @kill varchar(8000) = '';  
SELECT @kill = @kill + 'kill ' + CONVERT(varchar(5), session_id) + ';'  
FROM sys.dm_exec_sessions
WHERE database_id  = db_id('QLKS')
EXEC(@kill);

IF exists (SELECT * FROM sysdatabases WHERE NAME = 'QLKS')
	DROP DATABASE QLKS
GO 
/****** Object:  Database [QLKS]    Script Date: 12/12/2022 10:17:42 AM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLKS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  Table [dbo].[tDichVu]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDichVu](
	[MaDichVu] [char](4) NOT NULL,
	[TenDichVu] [nvarchar](30) NOT NULL,
	[GiaDichVu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDon]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDon](
	[MaThuePhong] [char](5) NOT NULL,
	[SoPhong] [char](4) NOT NULL,
	[MaKhach] [char](4) NOT NULL,
	[MaDichVu] [char](4) NOT NULL,
	[Soluong] [int] NULL,
	[ThanhTien] [float] NULL,
	[DaThanhToan] [char](3) NOT NULL,
 CONSTRAINT [thd_pk] PRIMARY KEY CLUSTERED 
(
	[MaThuePhong] ASC,
	[SoPhong] ASC,
	[MaKhach] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tKhach]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhach](
	[MaKhach] [char](4) NOT NULL,
	[TenKhach] [nvarchar](30) NOT NULL,
	[SoCMND] [char](15) NOT NULL,
	[DienThoai] [char](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[UserN] [varchar](20) NOT NULL,
	[PassW] [varchar](20) NOT NULL,
	[TenNhanVien] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPhong]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhong](
	[SoPhong] [char](4) NOT NULL,
	[GiaTien] [int] NOT NULL,
	[TinhTrang] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tThietBi]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tThietBi](
	[MaThietBi] [char](5) NOT NULL,
	[TenThietBi] [nvarchar](30) NOT NULL,
	[NgayMua] [datetime] NOT NULL,
	[GiaMua] [int] NOT NULL,
	[TinhTrang] [char](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tThuePhong]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tThuePhong](
	[MaThuePhong] [char](5) NOT NULL,
	[SoPhong] [char](4) NOT NULL,
	[MaKhach] [char](4) NOT NULL,
	[NgayNhanPhong] [datetime] NOT NULL,
	[NgayTraPhong] [datetime] NOT NULL,
 CONSTRAINT [ttp_pk] PRIMARY KEY CLUSTERED 
(
	[MaThuePhong] ASC,
	[SoPhong] ASC,
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tTrangBi]    Script Date: 12/12/2022 10:17:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTrangBi](
	[SoPhong] [char](4) NOT NULL,
	[MaThietBi] [char](5) NOT NULL,
	[NgayBatDauTrangBi] [datetime] NOT NULL,
	[NgayKetThucTrangBi] [datetime] NOT NULL,
 CONSTRAINT [ttb_pk] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC,
	[MaThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tDichVu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV01', N'-1', -1)
INSERT [dbo].[tDichVu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV02', N'Nước ngọt', 15000)
INSERT [dbo].[tDichVu] ([MaDichVu], [TenDichVu], [GiaDichVu]) VALUES (N'DV03', N'Bánh ngọt', 25000)
INSERT [dbo].[tKhach] ([MaKhach], [TenKhach], [SoCMND], [DienThoai]) VALUES (N'K001', N'Nguyễn Vinh Đạt', N'20020100012    ', N'0908145861 ')
INSERT [dbo].[tKhach] ([MaKhach], [TenKhach], [SoCMND], [DienThoai]) VALUES (N'K002', N'Nguyễn Tiến Lợi', N'20020123412    ', N'0822300982 ')
INSERT [dbo].[tKhach] ([MaKhach], [TenKhach], [SoCMND], [DienThoai]) VALUES (N'K003', N'Nguyễn Duy Hiếu', N'20020153432    ', N'0723928527 ')
INSERT [dbo].[tNhanVien] ([UserN], [PassW], [TenNhanVien]) VALUES (N'admin', N'123', N'Nguyễn Vinh Đạt')
INSERT [dbo].[tNhanVien] ([UserN], [PassW], [TenNhanVien]) VALUES (N'nhanvien', N'123', N'Nguyễn Trường Hận')
INSERT [dbo].[tPhong] ([SoPhong], [GiaTien], [TinhTrang]) VALUES (N'P001', 100000, N'Trong')
INSERT [dbo].[tPhong] ([SoPhong], [GiaTien], [TinhTrang]) VALUES (N'P002', 100000, N'Trong')
INSERT [dbo].[tPhong] ([SoPhong], [GiaTien], [TinhTrang]) VALUES (N'P003', 150000, N'Trong')
INSERT [dbo].[tThietBi] ([MaThietBi], [TenThietBi], [NgayMua], [GiaMua], [TinhTrang]) VALUES (N'TB001', N'TV', CAST(N'2021-11-20T00:00:00.000' AS DateTime), 5000000, N'New')
INSERT [dbo].[tThietBi] ([MaThietBi], [TenThietBi], [NgayMua], [GiaMua], [TinhTrang]) VALUES (N'TB002', N'Tủ Lạnh', CAST(N'2021-11-02T00:00:00.000' AS DateTime), 4400000, N'New')
INSERT [dbo].[tThietBi] ([MaThietBi], [TenThietBi], [NgayMua], [GiaMua], [TinhTrang]) VALUES (N'TB003', N'Điều Hòa', CAST(N'2021-11-12T00:00:00.000' AS DateTime), 3000000, N'New')
INSERT [dbo].[tThuePhong] ([MaThuePhong], [SoPhong], [MaKhach], [NgayNhanPhong], [NgayTraPhong]) VALUES (N'TP001', N'P001', N'K001', CAST(N'2022-02-02T00:00:00.000' AS DateTime), CAST(N'2022-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tThuePhong] ([MaThuePhong], [SoPhong], [MaKhach], [NgayNhanPhong], [NgayTraPhong]) VALUES (N'TP002', N'P002', N'K002', CAST(N'2022-02-02T00:00:00.000' AS DateTime), CAST(N'2022-02-04T00:00:00.000' AS DateTime))
INSERT [dbo].[tThuePhong] ([MaThuePhong], [SoPhong], [MaKhach], [NgayNhanPhong], [NgayTraPhong]) VALUES (N'TP003', N'P003', N'K003', CAST(N'2022-02-04T00:00:00.000' AS DateTime), CAST(N'2022-02-06T00:00:00.000' AS DateTime))
INSERT [dbo].[tTrangBi] ([SoPhong], [MaThietBi], [NgayBatDauTrangBi], [NgayKetThucTrangBi]) VALUES (N'P001', N'TB001', CAST(N'2022-01-02T00:00:00.000' AS DateTime), CAST(N'2022-04-02T00:00:00.000' AS DateTime))
INSERT [dbo].[tTrangBi] ([SoPhong], [MaThietBi], [NgayBatDauTrangBi], [NgayKetThucTrangBi]) VALUES (N'P001', N'TB002', CAST(N'2022-01-02T00:00:00.000' AS DateTime), CAST(N'2022-04-02T00:00:00.000' AS DateTime))
INSERT [dbo].[tTrangBi] ([SoPhong], [MaThietBi], [NgayBatDauTrangBi], [NgayKetThucTrangBi]) VALUES (N'P001', N'TB003', CAST(N'2022-01-02T00:00:00.000' AS DateTime), CAST(N'2022-04-02T00:00:00.000' AS DateTime))
ALTER TABLE [dbo].[tHoaDon]  WITH CHECK ADD  CONSTRAINT [thd_fk_madichvu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[tDichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[tHoaDon] CHECK CONSTRAINT [thd_fk_madichvu]
GO
ALTER TABLE [dbo].[tHoaDon]  WITH CHECK ADD  CONSTRAINT [thd_fk_thuephong] FOREIGN KEY([MaThuePhong], [SoPhong], [MaKhach])
REFERENCES [dbo].[tThuePhong] ([MaThuePhong], [SoPhong], [MaKhach])
GO
ALTER TABLE [dbo].[tHoaDon] CHECK CONSTRAINT [thd_fk_thuephong]
GO
ALTER TABLE [dbo].[tThuePhong]  WITH CHECK ADD  CONSTRAINT [ttp_fk_makhach] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[tKhach] ([MaKhach])
GO
ALTER TABLE [dbo].[tThuePhong] CHECK CONSTRAINT [ttp_fk_makhach]
GO
ALTER TABLE [dbo].[tThuePhong]  WITH CHECK ADD  CONSTRAINT [ttp_fk_sophong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[tPhong] ([SoPhong])
GO
ALTER TABLE [dbo].[tThuePhong] CHECK CONSTRAINT [ttp_fk_sophong]
GO
ALTER TABLE [dbo].[tTrangBi]  WITH CHECK ADD  CONSTRAINT [ttb_fk_matb] FOREIGN KEY([MaThietBi])
REFERENCES [dbo].[tThietBi] ([MaThietBi])
GO
ALTER TABLE [dbo].[tTrangBi] CHECK CONSTRAINT [ttb_fk_matb]
GO
ALTER TABLE [dbo].[tTrangBi]  WITH CHECK ADD  CONSTRAINT [ttb_fk_sophong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[tPhong] ([SoPhong])
GO
ALTER TABLE [dbo].[tTrangBi] CHECK CONSTRAINT [ttb_fk_sophong]
GO
USE [master]
GO
